
/ScreenVideoCapture2/mencoder.exe
/ScreenVideoCapture2.suo
/ScreenVideoCapture2/bin/Debug/ScreenVideoCapture2.exe.config
/ScreenVideoCapture2/bin/Debug/ScreenVideoCapture2.vshost.exe
/ScreenVideoCapture2/bin/Debug/ScreenVideoCapture2.vshost.exe.config
/ScreenVideoCapture2/bin/Debug/ScreenVideoCapture2.vshost.exe.manifest
/ScreenVideoCapture2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ScreenVideoCapture2/obj/Debug/ScreenVideoCapture2.csproj.FileListAbsolute.txt
/ScreenVideoCapture2/bin/Debug/Istrib.Sound.Mp3.dll
/ScreenVideoCapture2/bin/Debug/Istrib.Sound.dll
/ScreenVideoCapture2/bin/Debug/Microsoft.DirectX.DirectSound.dll
/ScreenVideoCapture2/bin/Debug/Microsoft.DirectX.dll
/ScreenVideoCapture2/bin/Debug/ScreenVideoCapture2.exe
/ScreenVideoCapture2/bin/Debug/ScreenVideoCapture2.pdb
/ScreenVideoCapture2/bin/Debug/lame_enc.dll
/ScreenVideoCapture2/bin/Debug/mencoder.exe
/ScreenVideoCapture2/bin/Debug/silence.wav
/ScreenVideoCapture2/bin/Debug/yeti.mmedia.dll
/ScreenVideoCapture2/bin/Debug/yeti.mp3.dll
/ScreenVideoCapture2/bin/x86/Debug/Istrib.Sound.Mp3.dll
/ScreenVideoCapture2/bin/x86/Debug/Istrib.Sound.dll
/ScreenVideoCapture2/bin/x86/Debug/Microsoft.DirectX.DirectSound.dll
/ScreenVideoCapture2/bin/x86/Debug/Microsoft.DirectX.dll
/ScreenVideoCapture2/bin/x86/Debug/ScreenVideoCapture2.exe
/ScreenVideoCapture2/bin/x86/Debug/ScreenVideoCapture2.exe.config
/ScreenVideoCapture2/bin/x86/Debug/ScreenVideoCapture2.pdb
/ScreenVideoCapture2/bin/x86/Debug/ScreenVideoCapture2.vshost.exe
/ScreenVideoCapture2/bin/x86/Debug/ScreenVideoCapture2.vshost.exe.config
/ScreenVideoCapture2/bin/x86/Debug/lame_enc.dll
/ScreenVideoCapture2/bin/x86/Debug/mencoder.exe
/ScreenVideoCapture2/bin/x86/Debug/silence.wav
/ScreenVideoCapture2/bin/x86/Debug/yeti.mmedia.dll
/ScreenVideoCapture2/bin/x86/Debug/yeti.mp3.dll
/ScreenVideoCapture2/bin/x86/Release/Istrib.Sound.Mp3.dll
/ScreenVideoCapture2/bin/x86/Release/Istrib.Sound.dll
/ScreenVideoCapture2/bin/x86/Release/Microsoft.DirectX.DirectSound.dll
/ScreenVideoCapture2/bin/x86/Release/Microsoft.DirectX.dll
/ScreenVideoCapture2/bin/x86/Release/ScreenVideoCapture2.exe
/ScreenVideoCapture2/bin/x86/Release/ScreenVideoCapture2.exe.config
/ScreenVideoCapture2/bin/x86/Release/ScreenVideoCapture2.pdb
/ScreenVideoCapture2/bin/x86/Release/ScreenVideoCapture2.vshost.exe
/ScreenVideoCapture2/bin/x86/Release/ScreenVideoCapture2.vshost.exe.config
/ScreenVideoCapture2/bin/x86/Release/ScreenVideoCapture2.vshost.exe.manifest
/ScreenVideoCapture2/bin/x86/Release/lame_enc.dll
/ScreenVideoCapture2/bin/x86/Release/mencoder.exe
/ScreenVideoCapture2/bin/x86/Release/silence.wav
/ScreenVideoCapture2/bin/x86/Release/yeti.mmedia.dll
/ScreenVideoCapture2/bin/x86/Release/yeti.mp3.dll
/ScreenVideoCapture2/obj/Debug/GenerateResource.read.1.tlog
/ScreenVideoCapture2/obj/Debug/GenerateResource.write.1.tlog
/ScreenVideoCapture2/obj/Debug/ResolveAssemblyReference.cache
/ScreenVideoCapture2/obj/Debug/ScreenVideoCapture2.MainForm.resources
/ScreenVideoCapture2/obj/Debug/ScreenVideoCapture2.Properties.Resources.resources
/ScreenVideoCapture2/obj/Debug/ScreenVideoCapture2.exe
/ScreenVideoCapture2/obj/Debug/ScreenVideoCapture2.pdb
/ScreenVideoCapture2/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/ScreenVideoCapture2/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ScreenVideoCapture2/obj/x86/Debug/GenerateResource.read.1.tlog
/ScreenVideoCapture2/obj/x86/Debug/GenerateResource.write.1.tlog
/ScreenVideoCapture2/obj/x86/Debug/ResolveAssemblyReference.cache
/ScreenVideoCapture2/obj/x86/Debug/ScreenVideoCapture2.MainForm.resources
/ScreenVideoCapture2/obj/x86/Debug/ScreenVideoCapture2.Properties.Resources.resources
/ScreenVideoCapture2/obj/x86/Debug/ScreenVideoCapture2.csproj.FileListAbsolute.txt
/ScreenVideoCapture2/obj/x86/Debug/ScreenVideoCapture2.exe
/ScreenVideoCapture2/obj/x86/Debug/ScreenVideoCapture2.pdb
/ScreenVideoCapture2/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
/ScreenVideoCapture2/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/ScreenVideoCapture2/obj/x86/Release/GenerateResource.read.1.tlog
/ScreenVideoCapture2/obj/x86/Release/GenerateResource.write.1.tlog
/ScreenVideoCapture2/obj/x86/Release/ScreenVideoCapture2.MainForm.resources
/ScreenVideoCapture2/obj/x86/Release/ScreenVideoCapture2.Properties.Resources.resources
/ScreenVideoCapture2/obj/x86/Release/ScreenVideoCapture2.csproj.FileListAbsolute.txt
/ScreenVideoCapture2/obj/x86/Release/ScreenVideoCapture2.exe
/ScreenVideoCapture2/obj/x86/Release/ScreenVideoCapture2.pdb
/ScreenVideoCapture2/obj/x86/Release/TempPE/Properties.Resources.Designer.cs.dll
/ScreenVideoCapture2/obj/x86/Release/build.force
