
/ScreenVideoCapture2/mencoder.exe
/ScreenVideoCapture2.suo
/ScreenVideoCapture2/bin/Debug/ScreenVideoCapture2.exe.config
/ScreenVideoCapture2/bin/Debug/ScreenVideoCapture2.vshost.exe
/ScreenVideoCapture2/bin/Debug/ScreenVideoCapture2.vshost.exe.config
/ScreenVideoCapture2/bin/Debug/ScreenVideoCapture2.vshost.exe.manifest
/ScreenVideoCapture2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ScreenVideoCapture2/obj/Debug/ScreenVideoCapture2.csproj.FileListAbsolute.txt
